<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="EndpointUrl" value="https://docdbsourabh.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="i3g9fWYIIUf1FHqyuzpT9bpdjcIxVLYymIf7ZaiZpzZn7vuB/j7wn9uZY/a+hKuX5SIewnPQGEZdy03kXIrgsQ==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DocumentDB_WPF.Properties.Settings.DocDBProjectConnectionString" connectionString="Data Source=tnkll47icl.database.windows.net;Initial Catalog=DocDBProject;Persist Security Info=True;User ID=sourabha;Password=Pass@word1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>